*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    font-family: sans-serif;
}
.header{
    display: flex;
    margin: 31px 64px;
    padding: 13px 0px;
    height: 56px;
}
.title{
    color: #D43D26;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
}
.navbar{
    color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
ul{
    display: flex;
    list-style: none;
    margin-left: 64px;
    list-style-type: none;
    width: 100%;
}
li{
    font-size: 16px;
    margin-right: 64px;
    padding: 0px;
}
li a {
    display: block;
    text-align: center;
    color: #1E1E1E;
    text-underline-position: below;
    text-decoration: none;
    font-weight: normal;
    justify-content: space-between;
}
li a:hover:not(.active) {
    text-decoration: underline;
    color: #1E1E1E;
}
.active {
    background-color: #1E1E1E;
}
.border{
    display: flex;
    flex-direction: row;
    height: 56px;
    margin-left: 100px;
    align-self: center;
}
.callButton{
    background-color: #ffffff;
    padding: 15px 15px;
    font-size: 14px;
    height: 56px;
    width: 180px;
    color: #1AAEC8;
    margin-left: 24px;
    border: 1px solid #1AAEC8;
    border-radius: 2px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.callButton:hover:not(.active) {
    text-decoration: none;
    color: #1AAEC8;
    background-color: #1aaec84f;
}
.active {
    background-color: #09323aa2;
}
.quoteButton{
    background-color: #D43D26;
    padding: 15px 15px;
    font-size: 14px;
    height: 56px;
    color: #ffffff;
    width: 180px;
    margin-left: 24px;
    border: 1px solid #D43D26;
    border-radius: 2px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.quoteButton:hover:not(.active) {
    text-decoration: none;
    background-color: #d43d2679;
    color: #ffffff;
}
